snippet header
	#!/bin/bash
	# ---------------------------------------------------------------------------- #
	#
	#         FILE:  `Filename()`
	#
	#        USAGE:  
	#
	#  DESCRIPTION:  ${1:description}
	#
	#      OPTIONS:  ---
	# REQUIREMENTS:  ---
	#         BUGS:  ---
	#        NOTES:  ---
	#       AUTHOR:  `g:author`, <`g:mailaddress`>
	#      CREATED:
	#     REVISION:
	# ---------------------------------------------------------------------------- #
	
	declare -r CONST_SCRIPTPATH="$(readlink -f \$0)"
	declare -r CONST_SCRIPTNAME="$(basename $CONST_SCRIPTPATH .sh)"
	declare -r CONST_SCRIPTDIR="$(dirname $CONST_SCRIPTPATH)"
	declare -r CONST_FACILITY="local0"
	declare -xr LANG="C"
	
snippet main
	#------------------------------------------------------------------------------#
	#                                    Main                                      #
	#------------------------------------------------------------------------------#
	$1
	#------------------------------------------------------------------------------#
	#                                  The End                                     #
	#------------------------------------------------------------------------------#
snippet mkst
	function mkstaging_area()
	# ------------------------------------------------------------------------------
	#         NAME:  mkstaging_area
	#  DESCRIPTION:  Creates a temporary staging area and set the variable
	#                $STAGING_AREA to point to it
	#   PARAMETERS:  STRING, mktemp template (optional)
	#      RETURNS:  0, oke
	#                1, not oke
	# ------------------------------------------------------------------------------
	{
	  local RETV="0"
	  local TEMPLATE="${HOME}/tmp/stage.XXXXXXXX"
	  local TEMPLATE_STR=$1; shift
	
	  [[ -n "${TEMPLATE_STR}" ]] && TEMPLATE="${TEMPLATE_STR}"
	
	  STAGING_AREA=$(mktemp -d ${TEMPLATE})
	  RETV=$?
	
	  if [ $RETV == 0 ]
	  then
	    return 0
	  else
	    remark "mkstaging_area failed $RETV"
	    return 1
	  fi
	
	  return 0
	} # end: mkstaging_area
