
snippet note "mkdocs note makro" b
!!! note

    ${1:note}
endsnippet

snippet warning "mkdocs warning makro" b
!!! warning

    ${1:warning}
endsnippet

snippet tip "mkdocs tip makro" b
!!! tip

    ${1:tip}
endsnippet

snippet tags "mkdocs tags header" b
---
tags:
  - ${1:tag}
---
endsnippet

